table { 
  position:absolute; 
  width:100%; 
  height:100%; 
  top:0px; 
  left:0px;
}

a{
  text-decoration: none;
  color: #c0392b;
}

a:hover {
  color: #3FC6D4;
}

h1 {
    font-family: "Open Sans";
    font-weight: lighter;
    font-size: 31pt;
    color:black ;
}   

h2 { 
  font-family:"open sans"; 
  font-weight: lighter;
  font-size:18px; 
  color:gray; 
}

h3 {
  font-family:"open sans"; 
  font-weight: lighter;
  font-size:20px; 
  color:black; 
}